#Intellij idea&eclipse ignore
.idea/
/idea/
*.ipr
*.iml
*.iws
bin/
*velocity.log*
.classpath
.project
.settings/

#java
*.class
*.lock

## sts ##
.apt-generated
.factorypath
.springBeans

#package file
*.war
*.ear
*.zip
*.tar.gz
*.rar

#maven ignore
target/
build/

#Log file
*.log 

#BlueJ files
*.ctxt

#Mobile Tools for Java (J2ME)
.mtj.tmp/

# temp file
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db
